asgiref==3.8.1
click==8.1.7
dj-database-url==2.2.0
Django==4.2.2
djangorestframework==3.14.0
Flask==2.0.1
gunicorn==20.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pytz==2024.1
setuptools==72.1.0
sqlparse==0.5.1
typing_extensions==4.12.2
Werkzeug==3.0.3
whitenoise==6.7.0
psycopg2-binary==2.9.3
pyrogram
tgcrypto
python-dotenv
openai==0.28
pdfplumber==0.9.0
