# PyTorch and Vision with CUDA 11.8 support
torch==2.0.1+cu118 --extra-index-url https://download.pytorch.org/whl/cu118
torchvision==0.15.2+cu118 --extra-index-url https://download.pytorch.org/whl/cu118

# Real-ESRGAN model and dependencies
git+https://github.com/xinntao/Real-ESRGAN.git
basicsr==1.4.2
facexlib
gfpgan

# PDF and image processing
pdf2image

# Other libraries
openai==0.28
click==8.1.7
numpy==1.26.0
pytz==2024.1

# Django dependencies (if needed in Colab)
Django==4.2.2
djangorestframework==3.14.0
gunicorn==20.1.0
asgiref==3.8.1
dj-database-url==2.2.0

# Google Drive API libraries (for authentication)
google-api-python-client==2.34.0
google-auth==2.27.0
requests-oauthlib<2
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.1.0

