global:
  name: consul
  datacenter: {{ datacenter | default('dc1') }}
  domain: {{ domain | default('consul') }}

server:
  replicas: {{ server_replicas | default(3) }}
  storage:
    enabled: true
    size: {{ storage_size | default('10Gi') }}
    class: {{ storage_class | default('standard') }}
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: "consul"
            operator: In
            values:
            - "true"

client:
  enabled: true
  replicas: {{ client_replicas | default(2) }}
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: "worker"
            operator: In
            values:
            - "true"

ui:
  enabled: {{ ui_enabled | default(true) }}

tls:
  enabled: true
  verify: true
  caCert: {{ tls_ca_cert | default('/etc/consul/tls/ca.pem') }}
  cert: {{ tls_cert | default('/etc/consul/tls/consul.pem') }}
  key: {{ tls_key | default('/etc/consul/tls/consul-key.pem') }}

connectInject:
  enabled: {{ connect_inject | default(true) }}

networking:
  dnsPort: {{ dns_port | default(8600) }}
  httpPort: {{ http_port | default(8500) }}
  httpsPort: {{ https_port | default(8501) }}
  grpcPort: {{ grpc_port | default(8502) }}

vault:
  enabled: {{ vault_enabled | default(false) }}
  address: {{ vault_address | default('http://vault:8200') }}
  token: {{ vault_token | default('') }}

resources:
  requests:
    memory: {{ memory_request | default('256Mi') }}
    cpu: {{ cpu_request | default('100m') }}
  limits:
    memory: {{ memory_limit | default('512Mi') }}
    cpu: {{ cpu_limit | default('200m') }}

